// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//my colors
$flame-start: #ff9a9e;
$flame-end: #fad0c4;

$peach-start: #ffecd2;
$peach-end: #fcb69f;

$neva-start: #a1c4fd;
$neva-end: #c2e9fb;

$rain-start: #cfd9df;
$rain-end: #e2ebf0;

$cloud-start: #fdfbfb;
$cloud-end: #ebedee;

$SaintPetersberg-start: #f5f7fa;
$SaintPetersberg-end: #c3cfe2;

$everlasting-start: #fdfcfb;
$everlasting-end: #e2d1c3;

$salad-start: #B7F8DB;
$salad-end: #50A7C2;


