@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

footer {
  margin-bottom: 1rem;
}

.context-dark,
.bg-gray-dark,
.bg-primary {
  color: rgba(255, 255, 255, 0.8);
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
  color: #ffffff;
}

.nav-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-list li a:hover:before {
  margin-left: 0;
  opacity: 0;
  visibility: visible;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 23px;
  font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.social-container .col {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-list li a:before {
  content: "\F14F";
  font: 400 21px/1 "Material Design Icons";
  color: #4d6de6;
  display: inline-block;
  vertical-align: baseline;
  margin-left: -28px;
  margin-right: 7px;
  opacity: 0;
  visibility: hidden;
  transition: 0.22s ease;
}

@font-face {
  font-family: Tanha;
  src: url(/fonts/Tanha-FD.eot?7b270528e85e3b665053b7357c4a1562);
  src: url(/fonts/Tanha-FD.eot?7b270528e85e3b665053b7357c4a1562) format("Tanha-FD-opentype"), url(/fonts/Tanha-FD.woff?1b02b02bb5d68fab8711ee3899880cf4) format("woff"), url(/fonts/Tanha-FD.ttf?9ad0e360811b1421368c3fd22b36f865) format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  padding-top: 1.4rem;
}

body {
  font-family: Tanha, "Segoe UI", sans-serif !important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.my-content {
  margin-top: 5rem;
}

